@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.App
{
    color: white;
    margin: 0 auto;
}

.Merri
{
    font-family: Merriweather, sans-serif;
}

.country
{
    font-size: 1.1rem;
}

.temp
{
    font-size: 2rem;
}

.condition
{
    font-size: 1.2rem;
}

.icon{
    width: 40%;
}